.searchContenedor{
	display: flex;
    margin-left: 90%;
	width: 500px;
	margin: 0 auto;

}

.input {
	flex: 1;
	padding: 10px;
	border-radius: 12px;
	font-size: 18px;
	transition: .6s;
	width: 500px;
	margin-right: 40px;
	height: 32px;
}

.button {
	background: #f06ed2;
	background-image: -webkit-linear-gradient(top, #f06ed2, #61a5e0);
	background-image: -moz-linear-gradient(top, #f06ed2, #61a5e0);
	background-image: -ms-linear-gradient(top, #f06ed2, #61a5e0);
	background-image: -o-linear-gradient(top, #f06ed2, #61a5e0);
	background-image: linear-gradient(to bottom, #f06ed2, #61a5e0);
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 0px #ffffff;
	-moz-box-shadow: 0px 0px 0px #ffffff;
	box-shadow: 0px 0px 0px #ffffff;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	padding: 8px 20px 8px 20px;
	text-decoration: none;
	
  }
  
  .button:hover {
	background: #58a7e3;
	text-decoration: none;
  }