.contenedor {
    background-color: #bed2e2;
    display: flex;
    height: auto;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: flex-end;
}

.imagen{
    width: 1300px;
    margin-top: 10%;
    margin-left: 15%;
    
}

.imagen img{
    border-radius: 20px;
    width: 500px;
    height: 290px;
}

.data{
    margin-top: 5%;
    background-color: #b1c8ddd0;
    padding: 60px;
    margin-right: 20%;
    width: 29vw;
    height: 55vh;
    border-radius: 10px;
    text-align: right;
}

.boxActivity{
    background-color: #b1c8ddd0;
    padding: 80px;
    width: 90vw;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    
    

}

.activitiesContainer{
    background-color: #bed2e2;
    display: flex;
    flex-direction: column;
    
}

.h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #202020;
    
    
}

.h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}

